<DModal
  @closeModal={{@closeModal}}
  class="tag-composer-tip-modal"
  @title={{theme-i18n "composer_tag_tip_modal.title"}}
>
  <:body>
    <h3>{{@model.title}}</h3>
    <p>
      {{htmlSafe @model.text}}
    </p>
  </:body>
</DModal>