<DModalBody @title={{theme-prefix "composer_tag_tip_modal.title"}}>
  <h3>{{{model.title}}}</h3>
  <div class="composer-tag-tip-modal-body">
    <p>
      {{{model.text}}}
    </p>
  </div>
</DModalBody>